@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);

body{
    background-image: url(./images/pattern-background-desktop.svg);
    /* height: 800vh; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-color: #f1f4fc;
  }
  .attribution { font-size: 11px; text-align: center; }
      .attribution a { color: hsl(228, 45%, 44%); }
  
      @media screen and (max-width:800px){
        body{
    background-image: url(./images/pattern-background-mobile.svg);
    /* height: 800vh; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-color: #f1f4fc;
    width: auto;
  }   
      
    }
  